@page
@{ ViewData["Title"] = "Acesso negado"; }
<div class="card">
    <h1>Acesso negado</h1>
    <p>Não tem permissões para aceder a esta página. Se acha que isto é um erro, contacte um administrador.</p>
    <a class="btn-secundario" href="/">Voltar ao início</a>
</div>
